<div class="dashboard">
    <div class="row">
        <div class="col s12">
            <ft-ccypair *ngFor="let ccypair of ccypairs | async"
                        [ccypair]="ccypair"
                        [ftDraggable]="{ type: 'ccypair', data: ccypair }">
            </ft-ccypair>
        </div>
    </div>
    <div class="row">
        <div class="col s12"
             style="border: 1px solid #333; padding: 20px;"
             [ftDroppable]="{ types: ['ccypair'], subscriber: subscriber }">

        </div>
    </div>
    <!--<ft-ticker-fx class="left"-->
                  <!--*ngFor="let ticker of tickers"-->
                  <!--[fxUnderlying]="ticker | async"-->
                  <!--(onRemoved)="onRemoved($event)">-->
    <!--</ft-ticker-fx>-->
    <!--<a class="btn-floating btn-large waves-effect waves-light left"-->
        <!--(click)="addTicker()">-->
        <!--<i class="material-icons">add</i>-->
    <!--</a>-->
</div>