<div class="dashboard">
    <div class="row">
        <div class="col s12">
            <ft-ccypair *ngFor="let ccypair of ccypairs | async"
                        [ccypair]="ccypair" draggable>
            </ft-ccypair>
        </div>

    </div>
    <!--<ft-ticker-fx class="left"-->
                  <!--*ngFor="let ticker of tickers"-->
                  <!--[fxUnderlying]="ticker | async"-->
                  <!--(onRemoved)="onRemoved($event)">-->
    <!--</ft-ticker-fx>-->
    <!--<a class="btn-floating btn-large waves-effect waves-light left"-->
        <!--(click)="addTicker()">-->
        <!--<i class="material-icons">add</i>-->
    <!--</a>-->
</div>