.draggable {
  position: relative;
  cursor: pointer;
  user-select: none;

  &.dragged {
    z-index: $z-index-max;
    pointer-events: none;
    cursor: pointer;

    >* {
      @extend .z-depth-2;
      opacity: 0.5;
    }
  }
}