.ticker {
  position: relative;
  width: 200px;
  margin: 0 10px 10px 0;
  text-align: center;

  .btn-remove {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;

    &:hover {
      color: $error-color;
    }
  }
}