<div class="clients">
    <div class="row">
        <div class="col s12">
            <ul>
                <li *ngFor="let client of clientService.clientsDefault | async">
                    <ft-client [client]="client"
                               (toggleFavourite)="onToggleFavourite($event)"
                               [ftDraggable]="{ type: 'client', data: client }">
                    </ft-client>
                </li>
            </ul>
            <div class="search input-field">
                <input id="query" type="text"[ngFormControl]="query" />
                <label for="query">Search clients</label>
            </div>
            <ul>
                <li *ngFor="let client of clientService.clientsSearchResults | async">
                    <ft-client [client]="client"
                               (toggleFavourite)="onToggleFavourite($event)"
                               [ftDraggable]="{ type: 'client', data: client }">
                    </ft-client>
                </li>
            </ul>
        </div>
    </div>

</div>

