$white: #fff;

$primary-color: #673ab7;
$secondary-color: #9575cd;
$secondary-color-light: #d1c4e9;
$link-color: #f50057;

$success-color: #8bc34a;
$error-color: #d32f2f;

$color-body: #f5f5f5;

$spinner-default-color: $primary-color;